.claude/logs/
**/bin/
# variant:kotlin-gradle
.gradle
**/build/
!kotlin-gradle/gradle/wrapper/gradle-wrapper.jar
.kotlin/
# /variant:kotlin-gradle
# variant:java-maven
**/target/
# /variant:java-maven
**/jgiven-reports/
.idea
*.iml
.DS_Store
.vscode
.context
node_modules/
